{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/bootstrap-3.4.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Amra Admin Panal</h1>
    <div>
        <a href="#">Home</a>
        <a href="#">Staff</a>
        <a href="#">Patient</a>
        <a href="#">Sales</a>
        <a href="#">Report</a>
    </div>
</body>
</html>